<%= form_for @movie, :html => {:multipart => true} do |f| %>
  <div class="form-field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :release_date %><br>
    <%= f.date_field :release_date %>
  </div>
  <div class="form-field">
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div class="form-field">
    <%= f.label :runtime_in_minutes %><br>
    <%= f.number_field :runtime_in_minutes %>
  </div>
  <div class="form-field">
    <%= f.label :poster_image_url %><br>
    <%= f.text_field :poster_image_url %>
  </div>
  <!-- poster uploader -->
  <div class="form-field">
  <%= f.label :poster, "Upload poster" %><br>
  <%= f.file_field :poster %>
  </div>
  <div class="form-field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="button">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

