<h1>Sign Up!</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline">
  <div class="field">
    <%= f.label :email, class: "col-sm-1 control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :firstname, "First Name", class: "col-sm-1 control-label" %>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name", class: "col-sm-1 control-label" %>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password, class: "col-sm-1 control-label" %>
    <%= f.password_field :password, class: "form-control" %>    
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "col-sm-1 control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="btn btn-success"><%= f.submit "Submit" %></div>
<% end %>